html{
    overflow-y: scroll;
}

.loading-screen {
    position: absolute;
    float:inherit;
    z-index: 998;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

body {
    background-color: rgb(245, 245, 245);
}

.caixas-resultados-head {
  text-align: center;
}

.caixa-sintomas {
    margin-bottom: 20px;
}

.caixa-resultado {
    margin-bottom: 20px;
}

.card-header {
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(220, 220, 220);;
    padding-left: 10px;
    cursor: pointer;
    margin: 1px;
    margin-bottom: 0;
    height: 50px;
}

.card-header:hover {
    border-color: grey;
}

.card-body {
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid rgb(245, 245, 245);
    margin: 1px;
    margin-top: 0;
    height: 188px;
    overflow-y: scroll;
}

.card-table{
    padding:0!important;
}

.first{
    overflow-y: hidden;
}

.card-header > h5 > button {
    padding:0;
    text-decoration: none!important;
    color: black;
}

.container {
    border-radius: 9px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
}

.col-md-6 {
    padding: 0;
}

#graficoRegrasAnalisadas {
    max-width: 570px!important;
    max-height: 350px!important;
}

#graficoRegrasGeradas {
    max-width: 570px!important;
    max-height: 350px!important;
}

.card-graph{
    height: 300px!important;
}

div#pDebug {
    display: none;
}